.nk-navbar a.active {
    color: #e08821;
}

.nk-navbar .nk-nav .dropdown {
	transition: .5s;

	&:after {
		content: "";
		position: absolute;
	}

	&:after {
		top: 0;
		left: -5px;
		width: 5px;
		height: 100%;
	}
}

.nk-nav li:hover > ul.dropdown {
	display: block;
	opacity: 1;
}

.nk-nav-logo h5 {
	margin: 0;
}