.nk-navbar-side[data-open="true"] {
	margin-right: 0 !important;
}

.bot-forge .nk-navbar-side {
	overflow: inherit;
	transition: all .25s ease-out;
}

.navbar__toggle {
	position: absolute;
	top: 50%;
	right: 100%;
	color: #fff;
	white-space: nowrap;
    transform: rotate(-90deg) translate(25%,100%);
    display: inline-block;
    background: #0e0e0e;
    padding: 10px 20px 20px;

    .ion-gear-b {
    	font-size: 20px;
	    margin-left: 5px;
	    position: relative;
	    top: 4px;
    }
}

.nk-navbar-overlay {
	transition: all .25s ease-out;
}

.nk-navbar-overlay[data-open="true"] {
	display: block;
	opacity: 0.8;
	transform: translate3d(0px, 0px, 0px);
}