blockquote.bot-block {
	border-left: none;
}

.nk-btn:focus {
	outline: none;
}

.bot-forge {

	.form-control:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.bot__delete {
		position: absolute;
		top: 10px;
		right: 10px;
		text-transform: lowercase;
		padding: 8px 0;
		width: 31px;
	}

	.nk-testimonial-2 .nk-testimonial-body {
		margin-bottom: 0;
	}

	.nk-testimonial-2 .nk-testimonial-photo {
		background-color: #36393e;
	}
}